//Colour Palette
$primary-colour: #285dca;
$secondary-colour: #fff85b;
$dark-grey-colour: #333;
$light-grey-colour: #777;
$white-colour: #fff;
$black-colour: #000;

//Responsive sizes
$break-mobile: 768px;