//Typography

//import Open Sans font - reg, bold
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$open-sans: 'Open Sans', sans-serif;

html {
  font-family: $open-sans;
  font-weight: normal;
}

h1{
    color: $white-colour;
    font-size: 96px;
    font-weight: bold;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px; 
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
a{
    color: $light-grey-colour;
    text-decoration: none;

    &:hover{
        color: $secondary-colour
    }
}